

body{
    margin: 0;
    padding: 0; 
    font-size: 14px;
    
}

label{
    font-size: 30px;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
}

#nav_bar{
    opacity: 1;
}
 #nav_link{
    padding: 10px;
}

#nav_bar{
    border-radius: 5px;
}

#box_p{

  height: 600px;
  width: 600px;
  border: 1px solid black;
 
}

#container{
  display: grid;
  justify-content: center;
}

.buttons{
  margin-top: 30px;
}
#title{
  font-size: 30px;
  
}
#section{
    display: grid;
    justify-content: center;
}

#form{
    margin-bottom: 10px;
}