
.container{
   
    display: grid;
    justify-content: center;
    /* padding: 50px; */

    
}
form{
    display: grid;
    align-self: center;
    width: 380px;
    height: 310px;
 
    padding: 50px;
    font-weight: bold;
   
  
}
#btn{
    width: 70px;
    padding: 4px;
    background: transparent;
}

input{
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    caret-color: white;
    
}
input:hover{
    background: black;
    color:white;
}

label{
        color: rgba(0,0,0,.8);
}
