
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" /> -->
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
       
        <!-- <form action="{% url 'journal_app:register' %}" method="post"> -->
            <form method = "post" id="user-form">
            {% csrf_token %}
            
            <h2> Sign Up</h2>
            <!-- <div class="fieldWrapper">
              
                <label for="{{ form.sender.id_for_label }}">Your email address:</label>
                {{ form.username }}
                
            </div> -->
            <label for='email'>
                Email
            </label>
            <!-- <input type="email" name="email" id="email"> -->
            {{ form.email}}
            {{ form.email.errors }}
            <label for="username"
           
            >Username</label>
            {{ form.username }}
        
            {{ form.username.errors }}
            <!-- <input type="text" name="username" id="username"> -->
            
            
            <label for="passsword">Password</label>
            <!-- <input type="password" name="password" id="password"> -->
            {{ form.password }}
         
            {{ form.password.errors }}
           
            
            <br>
            <button type="submit" id="btn">Sign up</button>
            <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
            <script src="{% static 'javascript/sendCredential.js' %}"></script>
        </form>
    </div>
    
    


</body>
</html>
